body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

/* =======================================================
                    Main Header
========================================================= */

.main-header {
  background: #4caf50;
}

.main-header > div {
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  margin-left: 10px;
}

.main-header > div a {
  text-decoration: none;
  color: #0e4f1f;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 90px);
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 4px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fff;
  border-bottom: 5px solid #fff;
}

.main-nav__item--cta a {
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  background: #ff1b68;
  border: 1px solid #fff;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: #fff;
  border: 1px solid #ff1b68;
}

/* =======================================================
                    Main Header (END)
========================================================= */



h1 {
  color: red;
}

/* 


.href{
    display: inline-block;
    padding-top: 10px;

} 

h1 {
    color: red;
}

* {
    color: blue;
}

body {
    color: orange;
}  */

/* 
    There are four types of combinators in css.
    1. Adjecent Siblings (+)
    2. General Siblings  (-)
    3. Child Siblings     (>)
    4. Decendent Siblings
Below are the examples of all the siblings!


    */

/* Example of Adjacent Sibling +
    This will color red any p tag which will come immidiately after h2 tag.
    Note: Both tags need to be share the same Parent.
*/
/* 
h2 + p {
    color: red;
} */

/* Example of Genetal Sibling -
    This will color red any p tag which will come after h2 tag.
    Note: Both tags need to be share the same Parent.
*/

/* h2 ~ p {
    color: red;
} */

/* Example of Child Siblings >
    This will color red any p tag which is the direct child of the div.
*/

/* div > p {
    color: red;
} */

/* Example of Decendent Siblings >
    This will color red any p tag which is the child of the div.
*/

/* 
div p {
    color: red;
} */

/* ========================================================================================== */

/*======================== Margin Collapsing ======================================*/

/* 
#h1 {
    background: red;
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
} */
