* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-header {
    background: red;
}

.main-nav__item {
    display: inline-block;
}

.main-header > div {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
}

.main-header > div a {
    text-decoration: none;
    color: #0e4f1f;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    margin-left: 5px;
    font-size: 15px;
}


h1 {
    color: red;
} 

.main-nav {
    display: inline-block;    
    text-align: right;
    width: calc(100% - 90px);
}

/* 

.href{
    display: inline-block;
    padding-top: 10px;

} 

h1 {
    color: red;
}

* {
    color: blue;
}

body {
    color: orange;
}  */




/* 
    There are four types of combinators in css.
    1. Adjecent Siblings (+)
    2. General Siblings  (-)
    3. Child Siblings     (>)
    4. Decendent Siblings
Below are the examples of all the siblings!


    */

/* Example of Adjacent Sibling +
    This will color red any p tag which will come immidiately after h2 tag.
    Note: Both tags need to be share the same Parent.
*/
/* 
h2 + p {
    color: red;
} */


/* Example of Genetal Sibling -
    This will color red any p tag which will come after h2 tag.
    Note: Both tags need to be share the same Parent.
*/

/* h2 ~ p {
    color: red;
} */


/* Example of Child Siblings >
    This will color red any p tag which is the direct child of the div.
*/

/* div > p {
    color: red;
} */


/* Example of Decendent Siblings >
    This will color red any p tag which is the child of the div.
*/

/* 
div p {
    color: red;
} */


/* ========================================================================================== */

/*======================== Margin Collapsing ======================================*/

body{
    margin: 0;
}

#h1 {
    background: red;
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
}




